.wrapper {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}

.header {
  width: 100%;
  height: 150px;
  background-color: #9c51e0;
}

.header .logo {
  width: 20%;
  height: 150px;
  background-color: #ffffff;
  float: left;
}
.imgResponsive {
  width: 100%;
  height: 100%;
}

.header .banner {
  width: 80%;
  height: 150px;
  background-color: #3699f5;
  float: left;
}

.menu {
  width: 100%;
  height: 40px;
  background-color: #a15af3;
  float: left;
}

.menu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.menu ul li {
  float: left;
  width: 20%;
}

.menu ul li a {
  display: block;
  text-decoration: none;
  background-color: yellow;
  text-align: center;
  padding: 10px 10px;
  border-radius: 0px 25px 0px 25px;
}
.menu ul li a:hover {
  background-image: linear-gradient(to right, red, yellow);
}

.leftsidebar {
  width: 100%;
  height: 320px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  gap: 600px;
  justify-content: center;
}
.leftsidebar .image img {
  height: 300px;
}
.leftsidebar .Head pre {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 3px;
  color: #666666;
}
.leftsidebar .Head strong {
  font-family: poppins;
  font-size: 50px;
}
.leftsidebar .Head p {
  font-family: Roboto;
  font-size: 20px;
  color: #383838;
}
.content {
  width: 100%;
  height: 600px;
  background-color: #79beff;
  float: left;
}

.middlesidebar {
  width: 50%;
  height: 600px;
  background-color: #f3c892;
  float: left;
}

.rightsidebar {
  width: 50%;
  height: 600px;
  background-color: #b983ff;
  float: left;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #1a374d;
  float: left;
  text-align: center;
  color: white;
}
.content .leftsidebar .Head {
  padding: 5px;
  margin-left: 5px;
  color: rgb(0, 0, 0);
  font-family: poppins;
  font-size: x-large;
  float: left;
}

.content .middlesidebar .Experiences {
  padding: 5px;
  margin-left: 5px;
  color: rgb(0, 0, 0);
  font-family: poppins;
  font-size: large;
  float: left;
}
.content .middlesidebar .Skills ol {
  padding: 5px;
  margin-left: 5px;
  float: left;
  font-size: large;
  font-family: Poppins;
  line-break: strict;
}
.content .rightsidebar .Project {
  padding: 5px;
  margin-left: 5px;
  color: rgb(0, 0, 0);
  font-family: poppins;
  font-size: x-large;
  float: left;
}
.content .rightsidebar .Project ol {
  padding: 5px;
  margin-left: 5px;
  float: left;
  font-size: large;
  font-family: poppins;
  line-break: strict;
}
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
